<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{fragments/layout}">
<head>
    <title>HOME</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Bienvenido a su GESTOR DE ALMACENES</h1>
    <p>Gestionando los productos y pedidos de tu tienda online</p>
    
    <div sec:authorize="isAnonymous()">
    	<h3> TODAVIA NO ESTAS REGISTRADO </h3>
	    <ul>
	        <li>Go to the <a href="/" th:href="@{/login}">LogIn</a></li>
	
	    </ul>
    </div>
    
    <div sec:authorize="isAuthenticated()">  
    <ul>
        <li>Go to the <a href="/" th:href="@{/homemenu}">Panel de Gesti&oacute;n</a></li>
        <li>Go to the <a href="/" th:href="@{/rewind/list_user}">Comprar</a></li>
    </ul>
    </div>
</div>
</body>
</html>