<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>STOCK</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Stock en <span th:text="${store.nameStore}"></span></h1>
    <p>Consulta Stock</p>
    <ul>
        <li>Volver al <a href="/" th:href="@{/StoreHome/stores}">listado de Almecenes</a></li>
    </ul>
    <div>
    	<table class="table text-center">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">CODIGO</th>
		      <th scope="col">PRODUCTO</th>
		      <th scope="col">STOCK</th>
		      <th scope="col">PRECIO</th>
		      <th scope="col"></th>
		    </tr>
		  </thead>
		  <tbody >		    
		    <tr th:each="pis : ${mapPis}">
		      <th scope="row" th:text="${pis.key.idProduct}"></th>
		      <td th:text="${pis.key.nameProduct}"></td>
		      <td th:text="${pis.value}"></td>
		      <td th:text="|${pis.key.priceProduct}  &euro;|"></td>
		      <td><a href="/" th:href="@{/}">Otra Cosa</a></td>      
		    </tr>
		  </tbody>
		  <tfoot>
		    <tr class="table-active">
		    	<td></td>
			    <td></td>
			    <td></td>
			    <td></td>
			    <td></td>
		    </tr>
		</tfoot>
		</table>
		
		<div th:insert=" fragments/pagination :: pagination(${listPage}, '/PIS/store/'+${idStore}+'/?', ${lastPage}, ${curretPage})"></div>
    </div>
</div>
</body>
</html>
