<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
 	<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}"
 integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
 crossorigin="anonymous">
 	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">STORE MANAGMENT</title>
</head>
<body>
    <th:block th:replace="fragments/header :: header"/>
    <main class="container">
        <th:block layout:fragment="content"/>
    </main>
    <th:block th:replace="fragments/footer :: footer" th:remove="tag"/>
</body>
</html>

